/* Body Styles */
body {
  background-color: #000000;
  overflow-x: hidden;
  color: rgb(255, 255, 255);
}

/* Navbar Styles */
.topnav {
  overflow: hidden;
  background-color: #E0FDFF;
  border-style: solid;
  width: 100%;
  top: 2px;
}

.topnav a {
  float: none;
  display: inline-block;
  color: #E0FDFF;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 20px;
}

/* Radio Button Styles */
input[type='radio'] {
  width: 18px;
  height: 18px;
  border-radius: 20px;
  background-color: #466fe9;
  content: '';
  display: flex;
}

/* Container Questions Styles */
.container_questions {
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(234, 237, 255);
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

/* Media Query for Small Screens */
@media only screen and (max-width: 600px) {
  label {
      display: inline-block;
      margin-top: 10px;
  }
}
