{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container_index">


<div class="container_index_1">
  <p class="p_head">KANO ANALYSE</p>
</div>

<div class="container_index_2">
 <p class="p_second">Beste klanten, voor Dotshop zijn we momenteel bezig met een kano analyse voor een filter functie die we mogelijk willen gaan realiseren. Hiervoor hebben we een aantal vragen voorbereid waarmee we een aantal factoren kunnen vaststellen. 
  Met u hulp kunnen we de klantervaring indien nodig optimaliseren.
 </p>
  <a href="{{url_for ('question_dotshop')}}">
    <button>Vragenlijst   </button>
</a>
</div>
<div class="controlls">
<div class="container_index_3">
  <img src="static/img/hva_logo.png" alt="hva logo">
</div>

<div class="container_index_4">
  <img src="static/img/dotshop_logo.png" alt="hva logo">
</div>

</div>
 
</div>
{% endblock %}
