{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container_index">


<div class="container_index_1">
  <p class="p_head">KANO ANALYSE</p>
</div>

<div class="container_index_2">
 <p class="p_second"> yoooo yo yoy yo yo hoe schroijf je jounta ik ben een goede jouner je weet toch gwn ff die pips inzetten bro </p>
  <a href="{{url_for ('question_dotshop')}}">
    <button>Vragenlijst   </button>
</a>
</div>
<div class="controlls">
<div class="container_index_3">
  <img src="static/img/hva_logo.png" alt="hva logo">
</div>

<div class="container_index_4">
  <img src="static/img/dotshop_logo.png" alt="hva logo">
</div>

</div>
 
</div>
{% endblock %}